.flex-container {
  background-color: blue;
  color: wheat;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 2rem;
  display: flex;
  gap: 1rem;
}
body {
  background-color: blue;
}
.one,
.two {
  background-color: red;
  width: fit-content;
}
